pandas==0.25.1
numpydoc==0.9.1
Flask-Admin==1.3.0
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gspread==3.7.0
google-auth-oauthlib==0.4.1
oauth2client==4.1.3
oauthlib==3.1.0
requests-oauthlib==1.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.5
PyJWT
python-dateutil
pytz
requests
six
urllib3
Werkzeug
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tensorflow==2.4.1
tf-estimator-nightly==1.14.0.dev2019030115